.main-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.order-block {
    flex: 1;
    background: greenyellow;
    height: 100%;
}

.menu-block{
    flex: 1;
    background: teal;
    height: 100%;
}
.menu-item {
    border: 1px solid #000;
    background: #fff;
    display: flex;
    width: 80%;
    margin: 0 auto 5px;
}

.menu-item--img {
    width: 50px;
    height: 50px;
    background: firebrick;
;
}